/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

/* VARIABLES */
:root {
  --color-background: #181818;
  --color-red: #e50914;
  --color-red-secondary: #e50914e2;
  --color-yellow: #f5c518;
  --color-light: #fff;
  --color-dark: #111;
}

/* INITIAL SETTINGS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--color-light);

  font-family: 'Special Elite', cursive;
}

body {
  background-color: var(--color-background);
  letter-spacing: 1px;
  min-height: 100vh;
}

.nav-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: var(--color-dark);
  color: #888;
}

.logo {
  text-align: center;
}

.logo img {
  height: 60px;
  width: 60px;
}

.nav-links ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.link {
  list-style: none;
}

.link a {
  color: inherit;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
}

.link a:hover {
  background-color: var(--color-background);
  transform: scale(1.2);
  color: #fff;
  border-bottom: 2px solid var(--color-light);
}

/* -------------------------------------- */
/* content */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  grid-column-gap: 3rem;
}

/* project */
.projects {
}
.projects h2 {
  font-size: 2.4rem;
  color: var(--color-yellow);
  margin-bottom: 1rem;
}

.project {
}

.project-header {
  display: grid;
  grid-template-columns: 30% 1fr 1fr;
  font-size: 1.5rem;
  border: 1px solid #fff;
  padding: 0.3rem;
  background-color: #fff;
  color: #111;
  margin-bottom: 1rem;
}

.project-header p:first-child {
  color: var(--color-red);
  font-weight: bold;
}

.project-description {
  font-size: 1.4rem;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}
.proj-link {
  color: dodgerblue;
  font-size: 1.4rem;
  display: inline-block;
  background-color: dodgerblue;
  color: #fff;
  padding: 0.5rem;
  border-radius: 30px;
  margin-bottom: 0.5rem;
}

/* diplomas */
.diplomas h2 {
  font-size: 2.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.certificate {
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: 1fr 20% 20% min-content;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-top: 1rem;
  position: relative;
}

.certificate span {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.certificate p:nth-child(1) {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  color: transparent;
  -webkit-background-clip: text;
}

.certificate p:nth-child(3) {
  color: var(--color-red);
}

.link {
  color: royalblue;
  opacity: 0.8;
}

.link:hover {
  opacity: 1;
}
