/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
/* font-family: 'Special Elite', cursive; */

/* VARIABLES */
:root {
  --color-background: #181818;
  --color-red: #e50914;
  --color-red-secondary: #e50914e2;
  --color-yellow: #f5c518;
  --color-light: #fff;
  --color-dark: #111;
}

/* INITIAL SETTINGS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--color-light);

  font-family: 'Special Elite', cursive;
}

body {
  background-color: var(--color-background);
  letter-spacing: 1px;
}

/* Navigation Bar */

.nav-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: var(--color-dark);
  color: #888;
}

.logo {
  text-align: center;
}

.logo img {
  height: 60px;
  width: 60px;
}

.nav-links ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.link {
  list-style: none;
}

.link a {
  color: inherit;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-decoration: none;
}

.link a:hover {
  background-color: var(--color-background);
  transform: scale(1.2);
  color: #fff;
  border-bottom: 2px solid var(--color-light);
}

.contact {
  display: flex;
  align-items: center;
}

.btn button {
  background-color: var(--color-red-secondary);
  color: inherit;
  padding: 1rem 2rem;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  color: #fff;
  opacity: 0.93;
}

.btn button:hover {
  background-color: var(--color-red);
  opacity: 1;
}

/* Main Content */

.main {
  height: 40rem;
  background-image: url('./images/programmer.jpg');
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}
.main-content {
  position: relative;
  z-index: 2;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.main h1 {
  width: 40%;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.author {
  color: var(--color-yellow);
  font-style: italic;
  font-size: 2rem;
}

.code {
  background-image: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.main p {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;

  text-shadow: 2px 2px 4px #000000;
}

.hire button {
  border-radius: 10px;
  position: relative;
  background-color: rgba(65, 105, 225, 0.85);
}

.hire button:hover {
  background-color: rgba(65, 105, 225);
}

.link-resume {
  text-decoration: none;
  color: #fff;
}

.link-resume:visited {
  color: #fff;
}

/* Skills */

.skills {
  background-color: var(--color-light);

  color: var(--color-background);
  padding: 1rem;
}

.skills h3 {
  font-size: 4rem;
  color: #222;
  text-align: center;
  margin: 5rem 0;

  position: relative;
}

.skills h3::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 6px;
  background-color: var(--color-yellow);
  position: absolute;
  top: 50%;
  margin-left: 1rem;
}

.skills-logo {
  display: flex;
  justify-content: center;
  gap: 2rem;

  padding: 1.5rem;
}

.skills-logo img {
  height: 10rem;
  width: 10rem;
}

/* Footer */

footer {
  padding: 4rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer h2 {
  font-size: 2.4rem;
  font-weight: 300;
  border: 2px solid #fff;
  padding: 0.7rem;
}

.footer h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.social {
  display: flex;
  gap: 1.4rem;
}

.social img {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

@media screen and (max-width: 678px) {
  html {
    font-size: 58%;
  }
  .nav-bar {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 8px;
    position: relative;
    margin-top: 0;
  }

  .main h1 {
    width: 90%;
  }

  .skills {
    clip-path: none;
    width: 98%;
    margin: 0 auto;
  }
}
